{% extends 'base.html.twig' %}

{% block title %}{{ 'userName' }}{% endblock %}

{% block body %}
    <div class="container" data-controller="profile">

        <div class="row d-flex" style="min-height:250px">
            <div class="col-4 me-sm-5  me-lg-0" style="height:250px;min-width:150px;">
                <img   class="pt-1 mr-5"  src="{{ asset( twig_image_dir  ~  profile_picture) }}" style="height:80%; flex:1;">
            </div>
            <div class="col-8 pt-4 pl-4">

                <div class="d-flex align-items-center">
                    <div class="align-items-baseline">
                        <h1> {{ profile.user.userName }}</h1>
                    </div>
                    {% if app.user and app.user.id != profile.user.id %}
                        <div class="ms-4">
                            <div class="btn btn-info" id="subscribe-button" href="{{ path('app_profiles_subscribe', {'id': profile.id}) }}">{{ isSubscribed ? 'unsubscribe' : 'subscribe' }}</div>
                        </div>
                    {% endif %}
                </div>

                <div class="d-flex">
                    <div class="pe-5"><strong>{{ profile.posts.count }}</strong> posts</div>
                    <div class="pe-5" id="followers-count"><strong>{{ profile.followers.count }}</strong> followers</div>
                    <div><strong>{{ profile.following.count }}</strong> following</div>
                </div>

                <div class="pt-2 font-weight-bold">{{ profile.title ??'...'}}</div>
                <div>{{profile.description ?? '...'}}</div>
                <div class=" font-weight-bold pb-3"><a href="#" style="color: rgba(var(--fe0,0,53,105),1);"> {{profile.url ?? 'tmp.org'}} </a></div>
            </div>

        </div>

        <div class=" d-flex align-items-baseline">
            <hr style="flex:1">
        </div>


        <div class="row">
            {% if profile.posts.count > 0 %}

                {% for post in posts %}

                    <image-post
                            id="{{ post.id }}"
                            link="{{ path('app_posts_show', {'id': post.id}) }}"
                            image="{{ asset(twig_image_dir  ~  posts_folder ~ post.picture ) }}"
                            thumbnail="{{ asset(twig_image_dir  ~  posts_folder ~ post.thumbnail ) }}"
                            caption="{{ post.caption }}"
                            likes="{{ post.likes.count }}"
                            liked="{{ likes[post.id] ? 1 : 0 }}"
                            liking_link="{{ path('app_posts_like', {'id': post.id}) }}"
                    ></image-post>

                {% endfor %}
            {% else %}
                <div class="row pt-5" >
                    <div class="col-4"><img class="post-img" width="100%" src="{{ asset( twig_image_dir ~ 'filler.webp' ) }}" style="width: 100%"></div>
                    <div class="col-4"><img class="post-img" width="100%" src="{{ asset( twig_image_dir ~ 'filler.webp' ) }}" style="width: 100%"></div>
                    <div class="col-4"><img class="post-img" width="100%" src="{{ asset( twig_image_dir ~ 'filler.webp' ) }}" style="width: 100%"></div>
                </div>
                <div class="row pt-5" >
                    <div class="col-4"><img class="post-img" width="100%" src="{{ asset( twig_image_dir ~ 'filler.webp' ) }}" style="width: 100%"></div>
                    <div class="col-4"><img class="post-img" width="100%" src="{{ asset( twig_image_dir ~ 'filler.webp' ) }}" style="width: 100%"></div>
                    <div class="col-4"><img class="post-img" width="100%" src="{{ asset( twig_image_dir ~ 'filler.webp' ) }}" style="width: 100%"></div>
                </div>
            {% endif %}
        </div>


        <div style="padding-top:300px"></div>

        <!-- Modal -->
        <div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
            <div class="modal-dialog ps-0 pe-0" style="max-width: 75%">
                <div class="modal-content ps-0 pe-0">
                    <div class="modal-body">
                        ...
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}
